*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    letter-spacing: 0.01rem;
    text-indent: 50px;
}

body {
    background: url("../images/whw.jpeg");
    background-size: 140% 140%;
    background-repeat: no-repeat;
    line-height: 35px;
}
.container{
    width: 80%;
    margin:0%;
    padding-top: 100px;

}
.content{
    float:right;
    width: 70%;
    color:white;
    font-size: 100%;
}
.my-image img{
    float: left;
    border-radius: 20%;

}
h1{
    color:white;
    text-align: left;
}
.slide{
    display: inline-block;
    background:grey;
    font-size: 100%;
    border-radius: 10%;
    color: teal;
    padding: 1.5rem 3rem;
        
}
.list{text-align: centre;

}
